<h1>Gemtutorials Index</h1>


<% @gemtutorials.each do |gem| %>


<ul class="surveys grid">
  <li class="survey-item">
    
    <span class="survey-country grid-only">
      <%= gem.name %>
    </span>
    

    <span class="survey-country list-only">
      <%= gem.name %>
    </span>
    
    <span class="survey-name">
      <%= link_to "", gem.repo, {class: "embedly-card"} %>
    </span>

    <span>
    <h3> <%= gem.description %> </h3>
    </span>
    
    <div class = "pull-right" >   
    <span>
      <button class = 'btn btn-primary'> Learn more... </button>

    </span>
    </div>
  </li>

</ul>  
<% end %>

    



<!--  -->




<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Repo</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gemtutorials.each do |gemtutorial| %>
      <tr>
        <td><%= gemtutorial.name %></td>
        


        <td>

          <%= link_to "", gemtutorial.repo, {class: "embedly-card"} %>
        </td>
        


        <td><%= gemtutorial.description %></td>
        <td><%= gemtutorial.genre %></td>
        <td><%= gemtutorial.score %></td>
        <td><%= link_to 'Show', gemtutorial %></td>
        <td><%= link_to 'Edit', edit_gemtutorial_path(gemtutorial) %></td>
        <td><%= link_to 'Destroy', gemtutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gemtutorial', new_gemtutorial_path %>
